/* 
==============================================
Reset
==============================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#200016, #10001f);
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ============================================
end Reset
=============================================== */
/* 
==============================================
Header
==============================================
*/
a {
  text-decoration: none;
  color: #fff;
}
header {
  position: fixed;
  width: 100%;
  z-index: 333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  flex-wrap: wrap;
  padding: 0 40px;
}
header .logo {
  text-transform: uppercase;
  font-size: 30px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
@media (max-width: 767px) {
  header ul {
  position: fixed;
    width: 100%;
    top: 10%;
    left: 0;
    background-color: rgb(0 0 0/ 50%);
    flex-direction: column;
    padding: 30px 10px;
    justify-content: center;
    gap: 10px;
    transform: translateY(100%);
    transition: .5s;
    opacity: 0;
    visibility: hidden;
  }
  ul.Res {
     visibility: visible;
     opacity: 1;
     transform: translateY(0);
  }
  ul.Res li {
    padding: 10px;
  }
}

header ul li {
  margin-right: 30px;
}
header ul li a {
  padding: 6px 15px;
  transition: 0.5s;
  border-radius: 6px;
}
header ul li a:hover,
header ul li a.active {
  background-color: #fff;
  color: #200016;
}
.burger-icon {
  position: fixed;
  width: 24px;
  height: 18px;
  border: none;
  background: none;
  cursor: pointer;
  right: 30%;
  display: none;
}
@media (max-width: 767px) {
  .burger-icon {
    display: block;
  }
}
.burger-icon span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  transition: 0.3s ease;
}
.burger-icon span:nth-child(1) {
  top: 0;
}
.burger-icon span:nth-child(2) {
  top: 8px;
}
.burger-icon span:nth-child(3) {
  top: 16px;
}
.burger-icon.active span:nth-child(1) {
  top: 8px;
  transform: rotate(45deg);
}
.burger-icon.active span:nth-child(2) {
  opacity: 0;
}
.burger-icon.active span:nth-child(3) {
  top: 8px;
  transform: rotate(-45deg);
}

/* ============================================
end Header
=============================================== */
/* ================================================
Main Styles
===================================================
*/
.main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 2s linear;
}
.main::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #200016, transparent);
}
.main img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#moon {
  mix-blend-mode: screen;
  transform: translateY(80px);
}
.mood {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  transform: translateY(-140px);
}
/* ================================================
End Main Styles
===================================================
*/
.content {
  color: #fff;
  padding: 30px;
}
.content h2 {
  margin: 20px;
  font-size: 30px;
}
.content p {
  margin: 20px;
}
